.footer__wrapper {
    display: flex;
    max-width: 1290px;
    margin: 0 auto;
    border-top: 1px solid black;
    justify-content: space-between;
    padding: 52px 0 43px 0;
}

.footer__column_left {
    display: flex;
}

.footer__column_left p {
    width: 301px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-left: 14px;
}

.footer__column_right p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}