.header {
    position: sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 2;
    border-bottom: 1px solid #CCCCCC;
}

.header__wrapper {
    max-width: 1338px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-right: 50px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 550px;
    justify-content: space-between;
}

.header__link {
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color: #000000;
}

.header__buttons {
    display: flex;
    margin: 25px 0;
}

.header__btn {
    text-align: center;
    width: 120px;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-decoration: none;
}

.btn-log{
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #000000;
}

.btn-try {
    background-color: #FF6336;
    border: none;
    color: #FFFFFF;
    margin-left: 10px;
}